<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<form method="post">
    <div class="form-group">
        <label th:for="name">Project Name
        <input class="form-control" th:field="${project.name}">
        </label>
    </div>
    <div class="form-group">
        <label th:for="name">Project Description
            <input class="form-control" th:field="${project.description}">
        </label>
    </div>
<!--        <div class="form-group">-->
<!--            <label>Add Ticket-->
<!--    &lt;!&ndash;            <div th:if="${mods != null}">&ndash;&gt;-->
<!--                <select th:field="${project.ticket}">-->

<!--                    <option th:each="ticket : ${tickets}"-->
<!--                            th:value="${ticket.id}"-->
<!--                            th:text="${ticket.name}"-->
<!--                    ></option>-->
<!--                </select>-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            </label>-->

<!--        </div>-->
    <input type="submit" value="Submit">
</form>
</body>
</html>