<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<a href = "/project/create">Create A Project</a>
<table>
    <thead>
        <tr>
            <th>Name:</th>
            <th>Tickets</th>
        </tr>
    </thead>
    <tr th:each="project : ${projects}">
        <td th:text="${project.name}"></td>
        <td><a th:text="|View Tickets|" th:href="'/ticket?projectId=' + ${project.id}"></a></td>
    </tr>
</table>

</body>
</html>