<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Bug Tracker Tool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<header th:fragment="header">
    <h1 th:text="|Bug Tracker Tool|"></h1>
    <nav class="sidebar-heading" th:fragment = "linkList">
        <hr>
        <a href = "/">Test Template</a> <br/>
        <a href = "/project/create">Create A Project</a> <br/>
        <a href = "/project">All Projects </a>
    </nav>
</header>

</body>
</html>