<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<form method="post">
    <div>
        <label>Username
            <input th:field="${registerDTO.username}" />
        </label>
    </div>
    <div>
        <label>Password
            <input th:field="${registerDTO.password}" type="password" />
        </label>
    </div>

    <input type="submit" value="Create username" />
</form>
</body>
</html>