<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<form th:action="@{/ticket/edit/} + ${ticket.id}" method="post">

    <div class="form-group">
        <label th:for="name">Title
            <input class="form-control" th:field="${ticket.name}">
        </label>
    </div>
    <div class="form-group">
        <label th:for="description">Description
            <input class="form-control" th:field="${ticket.description}">
        </label>

    </div>
    <div class="form-group">
        <label>Select Project
            <!--            <div th:if="${mods != null}">-->
            <select th:field="${ticket.project}">

                <option th:each="project : ${projects}"
                        th:value="${project.id}"
                        th:text="${project.name}"
                ></option>
            </select>
            <!--            </div>-->
        </label>

    </div>
    <input type="submit" class="btn btn-primary" value="Edit">
    <input type="hidden" th:value="${ticket.id}" name="ticketId" />
</form>
</body>
</html>